# Rdzeń PyTorcha z obsługą CUDA
--extra-index-url https://download.pytorch.org/whl/cu132
torch
torchvision

# Do generowania wykresów 3D i podglądu zdjęć
matplotlib

# Do operacji matematycznych i manipulacji tablicami
numpy

# Biblioteka do wczytywania i obróbki plików graficznych
Pillow